.home-page { 
    color: #895D67;
    padding-left: 20px; 
    padding-bottom: 10px; 
    background-color: antiquewhite;  
}

.img-wrapper {      
    color: #203973;
    font-size: 40px;
    font-weight: bolder;    
    padding-top: 30px;
}

.home-paragraph {
    width: 720px;    
}

.home-page h1 {
    color: #A52D2D;
}
