.search-page {
    background-color: antiquewhite;
    padding-left: 10px;        
}

.search-title {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 20px;
    color: #203973;
}

.results-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}
