body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.site-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;        
}

.message-when-no-data {
    color: #A52D2D;     
    background-color: antiquewhite;
    margin: 0; 
    padding: 30px;  
}

.spinner {
    background-color: #FBE0B4;       
}

.pager {
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #A52D2D;      
}

.disabledCursor {
    cursor: default;
}

.pageLink {
    margin-right: 10px;
}

.pageLink:visited {
    color: #29528B;
}

.pageLink:active {
    color: #5992B7;    
}

.card {
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin: 20px;
}

button {
    color: #5992B7;
    font-weight: bolder;
    margin: 30px 20px;
    background-color: white;    
    width: auto;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #895D67;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

button:hover {
    cursor: pointer;
    color: #29528B;
    background-color: #F2AF81;
}

textarea {
    resize: none;
    font-size: 18px;
}

.error {
    color: red;
    border: 1px solid red;    
    padding: 8px;    
}

.button-disabled {
    background-color: #d4d4d4;
}

.button-disabled:hover {
    background-color: #d4d4d4;
    color: #5992B7;
    cursor: default;
}
