.add-comment textarea {
    display: block;    
    min-height: 100px; 
    width: 354px;
}

.add-comment input {
    display: block;
}

.add-comment form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
}

.comment-item {
    border-style: double;
    border-color: #895D67;
    margin: auto;
    margin-bottom: 5px;
    width: 50%; 
}

.comment-item p:first-child {
    margin-bottom: 10px;
}

.comment-item p:last-child {
    margin-bottom: 10px;
    color: #203973;
}

.comments-part {
    margin-top: 50px;
}

.btn-delete-comment {
    margin: 10px;
}
